@media(max-width:767px){.affix-top{background-color:#fff;}
.navbar-default{padding:20px;}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{font-size:20px;}
.button_style{padding:10px 15px;}
.title_area h1{font-size:25px;}
.buy_btn{padding:10px 36px;}
.footer_logo,.footer_social,.footer_link{text-align:center;}
}
@media (max-width:980px){.work_left img{margin-left:0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.carsule_area{display:block;}
.navbar-default .navbar-brand{font-size:20px;}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{font-size:12px;}
.btn_area{margin-top:30px;text-align:left;}
}
@media (min-width:981px){.single_news .meta{width:46%;}
.work_left img{margin-left:45px;-webkit-box-shadow:-19px 20px 17px 0px rgba(0,0,0,0.75);-moz-box-shadow:-19px 20px 17px 0px rgba(0,0,0,0.75);box-shadow:-19px 20px 17px 0px rgba(0,0,0,0.75);}
}