body{font-family:'Josefin Sans', sans-serif;padding-right:0px !important;position:relative!important;}
p{font-family:'Lato', sans-serif;}
*, p {font-family:'Pyidaungsu';}

a{text-decoration:none;color:#333;}
a:hover{color:#333;text-decoration:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.go-top:active,
.go-top:visited,
.go-top:link{color:#fff;}
.section{padding-top:55px;padding-bottom:55px;}
.modal{text-align:center;padding:0!important;}
.modal:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-4px;}
.modal-dialog{display:inline-block;text-align:left;vertical-align:middle;}
.modal-content{background:transparent;box-shadow:none;border:none;}
.go-top{display:block;z-index:9999;width:40px;height:40px;line-height:35px;text-align:center;font-size:30px;position:fixed;bottom:-40px;right:20px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;background-color:#404040;color:#FFFFFF;text-decoration:none;}
.go-top.show{bottom:20px;}
.go-top:hover{background-color:#333;color:#FFFFFF;}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:9999;}
#status{width:200px;height:200px;position:absolute;left:50%;top:50%;background-image:url(img/loader.gif);background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px;}
@media(min-width:768px){.navbar-default{-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;padding:15px 0;}
.navbar-default.affix{padding:15px;background-color:#fff;border-bottom:1px solid #eee;}
}
.affix-top{background-color:transparent;}
.navbar{border-bottom:none;margin-bottom:0;}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{color:#333;font-weight:900;font-size:15px;}
.navbar-default .navbar-brand{font-size:30px;color:#EC3F44;}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{border-bottom:2px solid #EC3F44;background-color:transparent;}
.jumbotron{margin-bottom:0;}
.header_section{text-align:center;padding:200px 0;background:url(img/head.jpg);background-size:cover;background-position:center center;background-attachment:fixed;}
.main_title{text-transform:uppercase;}
.jumbotron .title_desc{margin-bottom:30px;}
.button_style{margin-right:20px;background:#fff;padding:15px 40px;font-weight:600;}
.button_style:hover{color:#fff;background-color:#333;}
.actv{background:#EC3F44;color:#fff;}
.no-background{background-color:red;border:none;}
.navbar-brand{height:auto;}
.title{background:#EC3F44;color:#fff;padding:10px;width:300px;text-transform:capitalize;margin:0 auto;border:5px double #fff;}
.sub_title{text-transform:capitalize;}
.title_section{text-align:center;}
.buynow_section{padding:65px;background-color:#333;color:#fff;}
.title_area h1{margin:0;}
.btn_area{margin-top:10px;text-align:right;}
.buy_btn{background:#fff;padding:16px 85px;font-weight:600;font-size:15px;text-transform:uppercase;border:2px solid #333;}
.buy_btn:hover{border:2px solid #fff;color:#fff;background-color:#333;}
.about_section{text-align:center;background-color:#f3f3f3;}
.about_area{}
.single_about{margin-top:30px;}
.single_about .sm_img, .single_about img{margin:0 auto;}
.single_about .sm_img:hover{opacity:.5;cursor:pointer;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.large_screen{}
.small_screen{display:none;}
.service_section{color:#fff;background:#333;}
.single_service{margin-top:30px;}
.single_service i{font-size:45px;}
.work_section{background-color:#f3f3f3;}
.work_left img{margin-top:75px;}
.bar_group__bar.thin::before,
.bar_group__bar.thick::before{display:block;content:'';position:absolute;z-index:-1;}
.bar_group__bar.thin::before{width:100%;height:4px;background:#E4E4E4;}
.bar_group__bar.thin{width:0%;height:4px;background:#EC3F44;margin-bottom:10px;-webkit-transition:width 1s;transition:width 1s;}
.bar_group__bar.thick::before{width:100%;height:12px;border-radius:6px;background:#E4E4E4;}
.bar_group__bar.thick{width:0%;height:12px;border-radius:6px;background:red;margin-bottom:10px;-webkit-transition:width 1s;transition:width 1s;}
.b_tooltip{-webkit-transition:all 1s;transition:all 1s;position:relative;float:left;left:100%;padding:4px 10px 7px 10px;background-color:rgba(67, 66, 76, 0.81);-webkit-transform:translateX(-50%) translateY(-30px);-ms-transform:translateX(-50%) translateY(-30px);transform:translateX(-50%) translateY(-30px);line-height:11px;}
.b_tooltip span{color:white;}
.b_tooltip--tri{width:0;height:0;position:absolute;content:'';bottom:-5px;left:0;right:0;margin:auto;display:block;border-style:solid;border-width:5px 5px 0 5px;border-color:rgba(67, 66, 76, 0.81) transparent transparent transparent;}
.bar_group{position:relative;}
.bar_group .elastic{background:#FF3357;-webkit-transition-timing-function:cubic-bezier(0.5, 0.25, 0.375, 1.335);transition-timing-function:cubic-bezier(0.5, 0.25, 0.375, 1.335);-webkit-transition-duration:1s;transition-duration:1s;}
.bar_group .gradient:after{content:'';display:block;background:-webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(100%, rgba(255, 255, 255, 0.39)));height:100%;width:100%;border-radius:100px;}
.bar_group__bar .n_bg:before{display:none !important;}
.portfolio_section{background-color:#333;}
.portfolio_area h1,.portfolio_area .sub_title{text-align:center;}
.portfolio_area .title{background:#fff;color:#333;padding:10px;width:300px;text-transform:capitalize;margin:0 auto;border:5px double #333;}
.portfolio_area .sub_title{color:#fff;}
.thumb{margin-bottom:30px;}
.thumb a{display:block;height:200px;overflow:hidden;position:relative;text-decoration:none;}
.thumb a img{margin:0 auto;position:absolute;top:-40px;width:100%;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.thumb a:hover img{left:0;top:-10px;}
.thumb a p{background:#59A214;color:#fff;font-size:11px;padding:12px 20px;position:absolute;bottom:-100px;display:block;cursor:pointer;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.thumb a:hover p{bottom:0;background:#333;}
.thumb a h3{font-size:13px;text-transform:uppercase;color:#fff;background:#333;width:211px;padding:8px 10px;position:absolute;left:10px;bottom:10px;cursor:pointer;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.thumb a:hover h3{bottom:94px;background:#333;}
.thumb a h3 i{width:33px;height:31px;position:absolute;right:-34px;top:0;background:#333;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;font-size:18px;font-weight:normal;text-align:center;padding:6px 0 0 0;}
.portfolio_area .actv{width:100%;}
.portfolio-modal{background-color:#fff;border-radius:0;}
.modal-body{position:relative;padding:60px;}
.modal_img{margin-top:70px;}
.close{font-size:40px;}
.team_section{}
.team_area{text-align:center;}
.team{display:inline-block;}
.team > a{position:relative;display:inline-block;margin:40px;width:200px;height:170px;cursor:pointer;}
.team > a:hover .front{transform:translateY(-45px);}
.team > a.single_team:hover .front{transform:translate(-45px, -45px);}
.team > a.single_team2:hover .front{transform:translate(45px, -45px);}
.front{position:absolute;z-index:10;width:200px;height:200px;border-radius:3px;background:#fff;box-shadow:0px 40px 40px rgba(0,0,0,0.06);transition:all 0.3s ease-out;}
.front span{font-size:15px;margin-top:10px;display:inline-block;}
.front img{margin:0 auto;margin-top:20px;border-radius:60px;}
.front ul li{list-style:none;display:inline;}
.behind{position:absolute;z-index:-1;top:5px;left:5px;width:190px;height:190px;padding-top:160px;border-radius:3px;color:#fff;box-shadow:0px 0px 40px #b6bec7, 0px 0px 120px #b6bec7;}
.behind,.single_team1 .behind,.single_team2 .behind{padding-right:40px;background:#333;}
.socials_link{margin:0;padding:0;}
.socials_link li{list-style:none;display:inline;font-size:30px;margin-left:13px;}
.socials_link li a:hover{color:#333;}
.counter_section{background-color:#333;color:#fff;}
.counter{font-size:40px;}
.testimonial_section{background-color:#f3f3f3;text-align:center;}
.testimonial_area{}
.testimonial_area h1{font-size:50px;}
.testimonial_area .titles{font-size:20px;}
.block{background:#EC3F44;border-left:none;color:#fff;padding:25px;border-left:8px solid #af2f31;}
.owl-theme .owl-controls .owl-page span{background-color:#333333;}
.testimonial_title,.sub_title{text-align:center;}
.testimonial_title{background:#333;color:#fff;padding:10px;width:300px;text-transform:capitalize;margin:0 auto;border:5px double #fff;}
.logo_section{}
.single_logo{text-align:center;}
.contact_section{background-color:#f3f3f3;}
.contact_area{}
#contact_form{margin-top:40px;}
.contact_area h1, .contact_area .subtitle{text-align:center;}
input[type="text"],input[type="email"],textarea{width:100%;padding:15px;margin-bottom:20px;background:#fff;border:1px solid rgb(247, 247, 247);}
textarea{width:100%;height:121px;}
.send_btn{width:100%;border:none;float:right;padding:16px 50px;font-size:15px;background-color:#EC3F44;color:#ffffff;}
.send_btn:hover{text-decoration:none;color:#ffffff;}
.success{background:#00A243;padding:10px;margin-bottom:10px;border:1px solid #B9ECCE;border-radius:5px;font-weight:normal;color:#fff;}
.error{background:#F44C4C;padding:10px;margin-bottom:10px;border:1px solid #FFCACA;border-radius:5px;font-weight:normal;color:#fff;}
.footer_section{background-color:#333;padding:40px;}
.footer_area p,.footer_area a{color:#fff;}
.footer_logo{text-align:center;}
.footer_social{}
.footer_logo{font-size:30px;}
.footer_link{text-align:center;}
.footer_link li a:hover{color:#fff;}
.copyright_txt{text-align:center;}